services:
  - type: web
    name: p-folio-client
    runtime: static
    rootDir: client
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

  - type: web
    name: p-folio-server
    runtime: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
